<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    </head>
    <body class="bg-dark">
        <div>
            <div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
                <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                    <div class="login-space">
                        <div class="login">
                            <p class="text-success" th:text="${successMsg}"></p>
                            <p class="text-success" th:text="${logout}"></p>
                            <p class="text-danger" id="shoeMessage" th:text="${lg}"></p>
                            <p class="text-danger" th:text="${br}"></p>
                            <form method="get" th:action="@{/showuserdetails}" th:object="${user}">
                            <div class="group"> <label for="userphoneno" class="label">Email/Phoneno</label> <input name="userPhoneno" type="text" class="input" placeholder="Enter your Phoneno or Email" required> </div>
                            <div class="group"> <label for="userpass" class="label">Password</label> <input name="userPass" type="password" class="input" data-type="password" placeholder="Enter your password"  required> </div>
                            <div class="group"> <input id="check" type="checkbox" class="check" checked> <label for="check"><span class="icon"></span> Keep me Signed in</label> </div>
                            <div class="group"> <input type="submit" class="button"  value="Sign In"> </div>
                            <div class="hr"></div>
                            </form>
                        </div>
        
                        <div class="sign-up-form">
                             <p th:text="${ErrorMsg}"></p>
                            <form name="signUp" method="post" th:action="@{/saveUser}" th:object="${user}">
                                <p th:text="${ErrorMsg}"></p>
                            <div class="group"> <label for="username" class="label">Username</label> <input name="userName" type="text" class="input" placeholder="Create your Username" required> </div>
                            <div class="group"> <label for="useremail" class="label">Email Address</label> <input name="userEmail" type="email" class="input" placeholder="Create EmailID" required> </div>
                            <div class="group"> <label for="userphoneno" class="label">Phone number</label> <input name="userPhoneno" type="tel" class="input" pattern="[0-9]{10}" placeholder="Create your Phoneno" required> </div>
                            <div class="group"> <label for="userpass" class="label">Password</label> <input name="userPass" type="password" class="input" placeholder="Create your password" required> </div>
                            <div class="group"> <input type="submit" class="button" value="Sign Up"> </div>
                            <div class="hr"></div>
                            <div class="foot"> <label for="tab-1">Already Member?</label> </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js" integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI=" crossorigin="anonymous"></script>
<script src="validate.js"></script><!-- comment -->
    </body>
</html>
